.row{
  padding-top:15px;
}
.head{
  font-family: 'Roboto', sans-serif;
}
.jumbotron{
  background-color: #ffffff;
  width:100%;
  overflow: hidden;
}
button{
  margin: 0;
  padding: 0;
  display: inline-block;
}
.btn{
  border-color:#000000;
}
.form-control{
  display: block;
  width:300px;
  margin: 10px;
  text-align: center;
}
